$card-bg: #fff;
$card-shadow: 0 4px 9px rgba(0, 0, 0, .2);

.device-table {
  background: $card-bg;
  border-radius: 4px;
  box-shadow: $card-shadow;
  margin: 2rem auto;
  width: 1000px;

  &__caption {
    font-size: 1.25rem;
    font-weight: 500;
    padding: .25rem;
    text-align: left;
  }

  &__table {
    width: 100%;

    td,
    th {
      padding: .25rem;
      text-align: left;
    }
  }
}
