
<!-- <form #sf="ngForm" (ngSubmit)="searchDevices(sf)"></form> -->
  <div id="searchBar">
    <label for="search" id="searchLabel">Search Devices: </label>
    <input
      type="text"
      id="searchInput"
      (keyup)="searchDevices($event)"
      placeholder="Start typing here..."/>
      <span style="margin-left: 5px">({{ deviceTable.rows.length }} results)</span>
  </div>
<!-- </form> -->

<div class="device-table" *ngIf="deviceTable">
  <table class="device-table__table">
    <caption class="device-table__caption">{{ deviceTable.title }}</caption>
    <thead>
      <th *ngFor="let header of deviceTable.headers" class="device-table__th">
        <span *ngIf="header != 'device_category' else categoryHeader">{{ header | titlecase }}</span>
        <ng-template #categoryHeader>
          <span>{{ 'category' | titlecase }}</span>
        </ng-template>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let row of deviceTable.rows">
        <td *ngFor="let column of deviceTable.headers">
          {{ row[column] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>