@import "src/variables";

#searchBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 90%;
  min-height: 50px;
  margin: 25px auto;
  padding: 5px 30px;

  background-color: $gray;

  #searchLabel {
    font-weight: bold;
  }

  #searchInput {
    display: inline-block;
    width: 25%;
    padding: 3px;
    margin-left: 10px;
  }

  #searchBtn {
    display: inline-block;
    margin-left: 5px;
    padding: 3px;

    &:hover {
      background-color: darken(#fff, 15%);
      cursor: pointer;
    }
  }
}

.device-table {
  background: $card-bg;
  border-radius: 4px;
  box-shadow: $card-shadow;
  margin: 2rem auto;
  width: 1000px;

  &__caption {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.25rem;
    text-align: left;
  }

  &__table {
    width: 100%;

    td,
    th {
      padding: 0.25rem;
      text-align: left;
    }
  }
}
